{% extends 'base.html' %}

{% block title %}Lista de Usuarios{% endblock %}

{% block content %}
    <h1>Usuarios</h1>
    <div class="actions-top">
        <a href="{{ url_for('add_user_view') }}" class="button">Añadir Nuevo Usuario</a>
    </div>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Username</th>
                <th>Email</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.email }}</td>
                <td>
                    <a href="{{ url_for('view_user', user_id=user.id) }}" class="button">Ver</a>
                    <button data-user-id="{{ user.id }}" class="button-del">Eliminar</button>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            document.querySelectorAll('.button-del').forEach(button => {
                button.addEventListener('click', function() {
                    const userId = this.getAttribute('data-user-id');
                    deleteUser(userId);
                });
            });
        });

        async function deleteUser(userId) {
            if (confirm('¿Estás seguro de eliminar este usuario?')) {
                const response = await fetch(`/users/${userId}`, {
                    method: 'DELETE'
                });
                if (response.ok) {
                    location.reload();
                }
            }
        }
    </script>
{% endblock %}
